# Python virtual environment
venv/
.venv/
env/
.env

# Python bytecode (compiled files)
__pycache__/
*.py[cod]

# Data files (Crucial: Don't upload the dataset!)
data/*.csv
data/*.json
data/*.pkl

# IDE Settings
.vscode/
.idea/

# Frontend
frontend/node_modules/
frontend/dist/